{
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "strict",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["**/*.vue"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}